body {
	background: rgb(245, 245, 245);
	color: black;
	font-size: 25px;
	font-family: Helvetica;
}

h1 {
	font-family: Courier;
	/* color: red; */
	font-weight: lighter;
	font-size: 10px;
}

h2 {
	/* font-family: Courier; */
	color: Black;
	font-weight: bold;
	font-size: 24px;
}

/* a {
	color: yellow;
}

a:hover {
	text-decoration: none;
	color: purple;
} */

p {
    font-size: 16px;
    font-style: italic;
}

#banner {
	text-align: center;
	/* background-image: url("images/pexels-pixabay-270360.jpg"); */
	background-image: url("https://unsplash.it/1300/600?random");
	background-size: cover;
	padding: 150px;
	color: white;
	text-shadow: 1px 1px 5px black;
}

#banner h1 {
	color: white;
	font-size: 50px;
}

#banner p {
	color: white;
	opacity: 0.8;
	font-size: 25px;
	font-weight: lighter;
}

#footer {
	padding: 30px;
	background: rgb(30, 30, 30);
	color: lightgrey;
}

.card {
	padding: 50px;
	font-weight: lighter;
    text-align: center;
}

#footer a {
	color: lightgrey;
	font-size: 15px;
}

#footer a:hover {
	color: white;
}
